SAMYPlugIn_Extruder/Template_internals/OPCUA_CRCL/OPCUAModel/Published/CRCL_OPCUA/CRCL.Types.xsd

<xs:schema
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:ua="http://opcfoundation.org/UA/2008/02/Types.xsd"
  xmlns:tns="https://crcl.org"
  targetNamespace="https://crcl.org"
  elementFormDefault="qualified"
>
  <xs:import namespace="http://opcfoundation.org/UA/2008/02/Types.xsd" />

  <xs:complexType name="PubSubIPAddresses">
    <xs:annotation>
      <xs:documentation>PubSub IP addresses: IPAddress_Skill is the address where the SAMYCore is Publishing and the SAMYPlugIn is Subscribed; IPAddress_Status is the address where the SAMYCore is Subscribed and the SAMYCore is Publishing</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="IPAddress_Skill" type="xs:string" minOccurs="0" nillable="true" />
      <xs:element name="IPAddress_Status" type="xs:string" minOccurs="0" nillable="true" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PubSubIPAddresses" type="tns:PubSubIPAddresses" />

  <xs:complexType name="ListOfPubSubIPAddresses">
    <xs:sequence>
      <xs:element name="PubSubIPAddresses" type="tns:PubSubIPAddresses" minOccurs="0" maxOccurs="unbounded" nillable="true" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListOfPubSubIPAddresses" type="tns:ListOfPubSubIPAddresses" nillable="true"></xs:element>

  <xs:simpleType  name="CRCL_AngleUnitEnumDataType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="DEGREE_0" />
      <xs:enumeration value="RADIAN_1" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="CRCL_AngleUnitEnumDataType" type="tns:CRCL_AngleUnitEnumDataType" />

  <xs:complexType name="ListOfCRCL_AngleUnitEnumDataType">
    <xs:sequence>
      <xs:element name="CRCL_AngleUnitEnumDataType" type="tns:CRCL_AngleUnitEnumDataType" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListOfCRCL_AngleUnitEnumDataType" type="tns:ListOfCRCL_AngleUnitEnumDataType" nillable="true"></xs:element>

  <xs:simpleType  name="CRCL_ForceUnitEnumDataType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NEWTON_0" />
      <xs:enumeration value="POUND_1" />
      <xs:enumeration value="OUNCE_2" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="CRCL_ForceUnitEnumDataType" type="tns:CRCL_ForceUnitEnumDataType" />

  <xs:complexType name="ListOfCRCL_ForceUnitEnumDataType">
    <xs:sequence>
      <xs:element name="CRCL_ForceUnitEnumDataType" type="tns:CRCL_ForceUnitEnumDataType" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListOfCRCL_ForceUnitEnumDataType" type="tns:ListOfCRCL_ForceUnitEnumDataType" nillable="true"></xs:element>

  <xs:complexType name="CRCL_FractionDataType">
    <xs:annotation>
      <xs:documentation>Fraction structure</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="fraction" type="xs:double" minOccurs="0" />
      <xs:element name="fractionMax" type="xs:double" minOccurs="0" />
      <xs:element name="fractionMin" type="xs:double" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CRCL_FractionDataType" type="tns:CRCL_FractionDataType" />

  <xs:complexType name="ListOfCRCL_FractionDataType">
    <xs:sequence>
      <xs:element name="CRCL_FractionDataType" type="tns:CRCL_FractionDataType" minOccurs="0" maxOccurs="unbounded" nillable="true" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListOfCRCL_FractionDataType" type="tns:ListOfCRCL_FractionDataType" nillable="true"></xs:element>

  <xs:simpleType  name="CRCL_LengthUnitEnumDataType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="METER_0" />
      <xs:enumeration value="MILLIMETER_1" />
      <xs:enumeration value="INCH_2" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="CRCL_LengthUnitEnumDataType" type="tns:CRCL_LengthUnitEnumDataType" />

  <xs:complexType name="ListOfCRCL_LengthUnitEnumDataType">
    <xs:sequence>
      <xs:element name="CRCL_LengthUnitEnumDataType" type="tns:CRCL_LengthUnitEnumDataType" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListOfCRCL_LengthUnitEnumDataType" type="tns:ListOfCRCL_LengthUnitEnumDataType" nillable="true"></xs:element>

  <xs:complexType name="CRCL_DataThingDataType">
    <xs:annotation>
      <xs:documentation>Fraction structure</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="id" type="xs:unsignedInt" minOccurs="0" />
      <xs:element name="name" type="xs:string" minOccurs="0" nillable="true" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CRCL_DataThingDataType" type="tns:CRCL_DataThingDataType" />

  <xs:complexType name="ListOfCRCL_DataThingDataType">
    <xs:sequence>
      <xs:element name="CRCL_DataThingDataType" type="tns:CRCL_DataThingDataType" minOccurs="0" maxOccurs="unbounded" nillable="true" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListOfCRCL_DataThingDataType" type="tns:ListOfCRCL_DataThingDataType" nillable="true"></xs:element>

  <xs:complexType name="SAMYRobotDataType">
    <xs:annotation>
      <xs:documentation>CRCLProgramm</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CRCL_DataThingDataType">
        <xs:sequence>
          <xs:element name="Requested_Skill" type="tns:CRCLSkillDataType" minOccurs="0" nillable="true" />
          <xs:element name="Requested_Skill_Success" type="xs:boolean" minOccurs="0" />
          <xs:element name="Active" type="xs:boolean" minOccurs="0" />
          <xs:element name="Online" type="xs:boolean" minOccurs="0" />
          <xs:element name="IPAddresses" type="tns:PubSubIPAddresses" minOccurs="0" nillable="true" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SAMYRobotDataType" type="tns:SAMYRobotDataType" />

  <xs:complexType name="ListOfSAMYRobotDataType">
    <xs:sequence>
      <xs:element name="SAMYRobotDataType" type="tns:SAMYRobotDataType" minOccurs="0" maxOccurs="unbounded" nillable="true" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListOfSAMYRobotDataType" type="tns:ListOfSAMYRobotDataType" nillable="true"></xs:element>

  <xs:complexType name="CRCL_PointDataType">
    <xs:annotation>
      <xs:documentation>CRCL 3D Point DataType</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CRCL_DataThingDataType">
        <xs:sequence>
          <xs:element name="x" type="xs:double" minOccurs="0" />
          <xs:element name="y" type="xs:double" minOccurs="0" />
          <xs:element name="z" type="xs:double" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CRCL_PointDataType" type="tns:CRCL_PointDataType" />

  <xs:complexType name="ListOfCRCL_PointDataType">
    <xs:sequence>
      <xs:element name="CRCL_PointDataType" type="tns:CRCL_PointDataType" minOccurs="0" maxOccurs="unbounded" nillable="true" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListOfCRCL_PointDataType" type="tns:ListOfCRCL_PointDataType" nillable="true"></xs:element>

  <xs:complexType name="CRCL_VectorDataType">
    <xs:annotation>
      <xs:documentation>CRCL 3D Vector DataType</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CRCL_DataThingDataType">
        <xs:sequence>
          <xs:element name="i" type="xs:double" minOccurs="0" />
          <xs:element name="j" type="xs:double" minOccurs="0" />
          <xs:element name="k" type="xs:double" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CRCL_VectorDataType" type="tns:CRCL_VectorDataType" />

  <xs:complexType name="ListOfCRCL_VectorDataType">
    <xs:sequence>
      <xs:element name="CRCL_VectorDataType" type="tns:CRCL_VectorDataType" minOccurs="0" maxOccurs="unbounded" nillable="true" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListOfCRCL_VectorDataType" type="tns:ListOfCRCL_VectorDataType" nillable="true"></xs:element>

  <xs:complexType name="CRCL_PoseDataType">
    <xs:annotation>
      <xs:documentation>CRCL 3D Pose DataType</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CRCL_DataThingDataType">
        <xs:sequence>
          <xs:element name="point" type="tns:CRCL_PointDataType" minOccurs="0" nillable="true" />
          <xs:element name="xAxis" type="tns:CRCL_VectorDataType" minOccurs="0" nillable="true" />
          <xs:element name="zAxis" type="tns:CRCL_VectorDataType" minOccurs="0" nillable="true" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CRCL_PoseDataType" type="tns:CRCL_PoseDataType" />

  <xs:complexType name="ListOfCRCL_PoseDataType">
    <xs:sequence>
      <xs:element name="CRCL_PoseDataType" type="tns:CRCL_PoseDataType" minOccurs="0" maxOccurs="unbounded" nillable="true" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListOfCRCL_PoseDataType" type="tns:ListOfCRCL_PoseDataType" nillable="true"></xs:element>

  <xs:element name="CRCL_PositiveDecimalDataType" type="ua:Variant" />

  <xs:simpleType  name="CRCL_TorqueUnitEnumDataType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NEWTONMETER_0" />
      <xs:enumeration value="FOOTPOUND_1" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="CRCL_TorqueUnitEnumDataType" type="tns:CRCL_TorqueUnitEnumDataType" />

  <xs:complexType name="ListOfCRCL_TorqueUnitEnumDataType">
    <xs:sequence>
      <xs:element name="CRCL_TorqueUnitEnumDataType" type="tns:CRCL_TorqueUnitEnumDataType" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListOfCRCL_TorqueUnitEnumDataType" type="tns:ListOfCRCL_TorqueUnitEnumDataType" nillable="true"></xs:element>

  <xs:complexType name="CRCL_TwistDataType">
    <xs:annotation>
      <xs:documentation>CRCL 3D Twist DataType</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CRCL_DataThingDataType">
        <xs:sequence>
          <xs:element name="linearVelocity" type="tns:CRCL_VectorDataType" minOccurs="0" nillable="true" />
          <xs:element name="angularVelocity" type="tns:CRCL_VectorDataType" minOccurs="0" nillable="true" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CRCL_TwistDataType" type="tns:CRCL_TwistDataType" />

  <xs:complexType name="ListOfCRCL_TwistDataType">
    <xs:sequence>
      <xs:element name="CRCL_TwistDataType" type="tns:CRCL_TwistDataType" minOccurs="0" maxOccurs="unbounded" nillable="true" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListOfCRCL_TwistDataType" type="tns:ListOfCRCL_TwistDataType" nillable="true"></xs:element>

  <xs:complexType name="CRCL_WrenchDataType">
    <xs:annotation>
      <xs:documentation>CRCL 3D Wrench DataType</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CRCL_DataThingDataType">
        <xs:sequence>
          <xs:element name="force" type="tns:CRCL_VectorDataType" minOccurs="0" nillable="true" />
          <xs:element name="moment" type="tns:CRCL_VectorDataType" minOccurs="0" nillable="true" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CRCL_WrenchDataType" type="tns:CRCL_WrenchDataType" />

  <xs:complexType name="ListOfCRCL_WrenchDataType">
    <xs:sequence>
      <xs:element name="CRCL_WrenchDataType" type="tns:CRCL_WrenchDataType" minOccurs="0" maxOccurs="unbounded" nillable="true" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListOfCRCL_WrenchDataType" type="tns:ListOfCRCL_WrenchDataType" nillable="true"></xs:element>

  <xs:complexType name="CRCL_PoseToleranceDataType">
    <xs:annotation>
      <xs:documentation>CRCL PoseTolerance DataType</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CRCL_DataThingDataType">
        <xs:sequence>
          <xs:element name="xPointTolerance" type="xs:double" minOccurs="0" />
          <xs:element name="yPointTolerance" type="xs:double" minOccurs="0" />
          <xs:element name="zPointTolerance" type="xs:double" minOccurs="0" />
          <xs:element name="xAxisTolerance" type="xs:double" minOccurs="0" />
          <xs:element name="zAxisTolerance" type="xs:double" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CRCL_PoseToleranceDataType" type="tns:CRCL_PoseToleranceDataType" />

  <xs:complexType name="ListOfCRCL_PoseToleranceDataType">
    <xs:sequence>
      <xs:element name="CRCL_PoseToleranceDataType" type="tns:CRCL_PoseToleranceDataType" minOccurs="0" maxOccurs="unbounded" nillable="true" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListOfCRCL_PoseToleranceDataType" type="tns:ListOfCRCL_PoseToleranceDataType" nillable="true"></xs:element>

  <xs:complexType name="CRCL_ParameterSettingDataType">
    <xs:annotation>
      <xs:documentation>CRCL ParameterSetting DataType</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CRCL_DataThingDataType">
        <xs:sequence>
          <xs:element name="parameterName" type="xs:string" minOccurs="0" nillable="true" />
          <xs:element name="parameterValue" type="xs:string" minOccurs="0" nillable="true" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CRCL_ParameterSettingDataType" type="tns:CRCL_ParameterSettingDataType" />

  <xs:complexType name="ListOfCRCL_ParameterSettingDataType">
    <xs:sequence>
      <xs:element name="CRCL_ParameterSettingDataType" type="tns:CRCL_ParameterSettingDataType" minOccurs="0" maxOccurs="unbounded" nillable="true" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListOfCRCL_ParameterSettingDataType" type="tns:ListOfCRCL_ParameterSettingDataType" nillable="true"></xs:element>

  <xs:complexType name="CRCL_RotAccelDataType">
    <xs:annotation>
      <xs:documentation>CRCL RotAccel DataType</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CRCL_DataThingDataType">
        <xs:sequence>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CRCL_RotAccelDataType" type="tns:CRCL_RotAccelDataType" />

  <xs:complexType name="ListOfCRCL_RotAccelDataType">
    <xs:sequence>
      <xs:element name="CRCL_RotAccelDataType" type="tns:CRCL_RotAccelDataType" minOccurs="0" maxOccurs="unbounded" nillable="true" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListOfCRCL_RotAccelDataType" type="tns:ListOfCRCL_RotAccelDataType" nillable="true"></xs:element>

  <xs:complexType name="CRCL_RotAccelAbsoluteDataType">
    <xs:annotation>
      <xs:documentation>CRCL RotAccelAbsolute DataType</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CRCL_RotAccelDataType">
        <xs:sequence>
          <xs:element name="setting" type="xs:double" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CRCL_RotAccelAbsoluteDataType" type="tns:CRCL_RotAccelAbsoluteDataType" />

  <xs:complexType name="ListOfCRCL_RotAccelAbsoluteDataType">
    <xs:sequence>
      <xs:element name="CRCL_RotAccelAbsoluteDataType" type="tns:CRCL_RotAccelAbsoluteDataType" minOccurs="0" maxOccurs="unbounded" nillable="true" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListOfCRCL_RotAccelAbsoluteDataType" type="tns:ListOfCRCL_RotAccelAbsoluteDataType" nillable="true"></xs:element>

  <xs:complexType name="CRCL_RotAccelRelativeDataType">
    <xs:annotation>
      <xs:documentation>CRCL RotAccelRelative DataType</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CRCL_RotAccelDataType">
        <xs:sequence>
          <xs:element name="fraction" type="tns:CRCL_FractionDataType" minOccurs="0" nillable="true" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CRCL_RotAccelRelativeDataType" type="tns:CRCL_RotAccelRelativeDataType" />

  <xs:complexType name="ListOfCRCL_RotAccelRelativeDataType">
    <xs:sequence>
      <xs:element name="CRCL_RotAccelRelativeDataType" type="tns:CRCL_RotAccelRelativeDataType" minOccurs="0" maxOccurs="unbounded" nillable="true" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListOfCRCL_RotAccelRelativeDataType" type="tns:ListOfCRCL_RotAccelRelativeDataType" nillable="true"></xs:element>

  <xs:complexType name="CRCL_RotSpeedDataType">
    <xs:annotation>
      <xs:documentation>CRCL RotSpeedDataType DataType</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CRCL_DataThingDataType">
        <xs:sequence>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CRCL_RotSpeedDataType" type="tns:CRCL_RotSpeedDataType" />

  <xs:complexType name="ListOfCRCL_RotSpeedDataType">
    <xs:sequence>
      <xs:element name="CRCL_RotSpeedDataType" type="tns:CRCL_RotSpeedDataType" minOccurs="0" maxOccurs="unbounded" nillable="true" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListOfCRCL_RotSpeedDataType" type="tns:ListOfCRCL_RotSpeedDataType" nillable="true"></xs:element>

  <xs:complexType name="CRCL_RotSpeedAbsoluteDataType">
    <xs:annotation>
      <xs:documentation>CRCL RotSpeedAbsolute DataType</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CRCL_RotSpeedDataType">
        <xs:sequence>
          <xs:element name="setting" type="xs:double" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CRCL_RotSpeedAbsoluteDataType" type="tns:CRCL_RotSpeedAbsoluteDataType" />

  <xs:complexType name="ListOfCRCL_RotSpeedAbsoluteDataType">
    <xs:sequence>
      <xs:element name="CRCL_RotSpeedAbsoluteDataType" type="tns:CRCL_RotSpeedAbsoluteDataType" minOccurs="0" maxOccurs="unbounded" nillable="true" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListOfCRCL_RotSpeedAbsoluteDataType" type="tns:ListOfCRCL_RotSpeedAbsoluteDataType" nillable="true"></xs:element>

  <xs:complexType name="CRCL_RotSpeedRelativeDataType">
    <xs:annotation>
      <xs:documentation>CRCL RotSpeedRelative DataType</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CRCL_RotSpeedDataType">
        <xs:sequence>
          <xs:element name="fraction" type="tns:CRCL_FractionDataType" minOccurs="0" nillable="true" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CRCL_RotSpeedRelativeDataType" type="tns:CRCL_RotSpeedRelativeDataType" />

  <xs:complexType name="ListOfCRCL_RotSpeedRelativeDataType">
    <xs:sequence>
      <xs:element name="CRCL_RotSpeedRelativeDataType" type="tns:CRCL_RotSpeedRelativeDataType" minOccurs="0" maxOccurs="unbounded" nillable="true" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListOfCRCL_RotSpeedRelativeDataType" type="tns:ListOfCRCL_RotSpeedRelativeDataType" nillable="true"></xs:element>

  <xs:complexType name="CRCL_TransAccelDataType">
    <xs:annotation>
      <xs:documentation>CRCL TransAccelAbsolute DataType</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CRCL_DataThingDataType">
        <xs:sequence>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CRCL_TransAccelDataType" type="tns:CRCL_TransAccelDataType" />

  <xs:complexType name="ListOfCRCL_TransAccelDataType">
    <xs:sequence>
      <xs:element name="CRCL_TransAccelDataType" type="tns:CRCL_TransAccelDataType" minOccurs="0" maxOccurs="unbounded" nillable="true" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListOfCRCL_TransAccelDataType" type="tns:ListOfCRCL_TransAccelDataType" nillable="true"></xs:element>

  <xs:complexType name="CRCL_TransAccelAbsoluteDataType">
    <xs:annotation>
      <xs:documentation>CRCL TransAccelAbsolute DataType</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CRCL_TransAccelDataType">
        <xs:sequence>
          <xs:element name="setting" type="xs:double" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CRCL_TransAccelAbsoluteDataType" type="tns:CRCL_TransAccelAbsoluteDataType" />

  <xs:complexType name="ListOfCRCL_TransAccelAbsoluteDataType">
    <xs:sequence>
      <xs:element name="CRCL_TransAccelAbsoluteDataType" type="tns:CRCL_TransAccelAbsoluteDataType" minOccurs="0" maxOccurs="unbounded" nillable="true" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListOfCRCL_TransAccelAbsoluteDataType" type="tns:ListOfCRCL_TransAccelAbsoluteDataType" nillable="true"></xs:element>

  <xs:complexType name="CRCL_TransAccelRelativeDataType">
    <xs:annotation>
      <xs:documentation>CRCL TransAccelRelative DataType</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CRCL_TransAccelDataType">
        <xs:sequence>
          <xs:element name="fraction" type="tns:CRCL_FractionDataType" minOccurs="0" nillable="true" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CRCL_TransAccelRelativeDataType" type="tns:CRCL_TransAccelRelativeDataType" />

  <xs:complexType name="ListOfCRCL_TransAccelRelativeDataType">
    <xs:sequence>
      <xs:element name="CRCL_TransAccelRelativeDataType" type="tns:CRCL_TransAccelRelativeDataType" minOccurs="0" maxOccurs="unbounded" nillable="true" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListOfCRCL_TransAccelRelativeDataType" type="tns:ListOfCRCL_TransAccelRelativeDataType" nillable="true"></xs:element>

  <xs:complexType name="CRCL_TransSpeedDataType">
    <xs:annotation>
      <xs:documentation>CRCL TransAccelAbsolute DataType</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CRCL_DataThingDataType">
        <xs:sequence>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CRCL_TransSpeedDataType" type="tns:CRCL_TransSpeedDataType" />

  <xs:complexType name="ListOfCRCL_TransSpeedDataType">
    <xs:sequence>
      <xs:element name="CRCL_TransSpeedDataType" type="tns:CRCL_TransSpeedDataType" minOccurs="0" maxOccurs="unbounded" nillable="true" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListOfCRCL_TransSpeedDataType" type="tns:ListOfCRCL_TransSpeedDataType" nillable="true"></xs:element>

  <xs:complexType name="CRCL_TransSpeedAbsoluteDataType">
    <xs:annotation>
      <xs:documentation>CRCL TransSpeedAbsolute DataType</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CRCL_TransSpeedDataType">
        <xs:sequence>
          <xs:element name="setting" type="xs:double" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CRCL_TransSpeedAbsoluteDataType" type="tns:CRCL_TransSpeedAbsoluteDataType" />

  <xs:complexType name="ListOfCRCL_TransSpeedAbsoluteDataType">
    <xs:sequence>
      <xs:element name="CRCL_TransSpeedAbsoluteDataType" type="tns:CRCL_TransSpeedAbsoluteDataType" minOccurs="0" maxOccurs="unbounded" nillable="true" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListOfCRCL_TransSpeedAbsoluteDataType" type="tns:ListOfCRCL_TransSpeedAbsoluteDataType" nillable="true"></xs:element>

  <xs:complexType name="CRCL_TransSpeedRelativeDataType">
    <xs:annotation>
      <xs:documentation>CRCL TransSpeedRelative DataType</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CRCL_TransSpeedDataType">
        <xs:sequence>
          <xs:element name="fraction" type="tns:CRCL_FractionDataType" minOccurs="0" nillable="true" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CRCL_TransSpeedRelativeDataType" type="tns:CRCL_TransSpeedRelativeDataType" />

  <xs:complexType name="ListOfCRCL_TransSpeedRelativeDataType">
    <xs:sequence>
      <xs:element name="CRCL_TransSpeedRelativeDataType" type="tns:CRCL_TransSpeedRelativeDataType" minOccurs="0" maxOccurs="unbounded" nillable="true" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListOfCRCL_TransSpeedRelativeDataType" type="tns:ListOfCRCL_TransSpeedRelativeDataType" nillable="true"></xs:element>

  <xs:simpleType  name="CRCL_GuardLimitEnumDataType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="OVER_MAX_0" />
      <xs:enumeration value="UNDER_MIN_1" />
      <xs:enumeration value="INCREASE_OVER_LIMIT_2" />
      <xs:enumeration value="DECREASE_BEYOND_LIMIT_3" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="CRCL_GuardLimitEnumDataType" type="tns:CRCL_GuardLimitEnumDataType" />

  <xs:complexType name="ListOfCRCL_GuardLimitEnumDataType">
    <xs:sequence>
      <xs:element name="CRCL_GuardLimitEnumDataType" type="tns:CRCL_GuardLimitEnumDataType" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListOfCRCL_GuardLimitEnumDataType" type="tns:ListOfCRCL_GuardLimitEnumDataType" nillable="true"></xs:element>

  <xs:complexType name="CRCL_GuardDataType">
    <xs:annotation>
      <xs:documentation>CRCL GuardType DataType</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CRCL_DataThingDataType">
        <xs:sequence>
          <xs:element name="sensorID" type="xs:string" minOccurs="0" nillable="true" />
          <xs:element name="subField" type="xs:string" minOccurs="0" nillable="true" />
          <xs:element name="limitType" type="tns:CRCL_GuardLimitEnumDataType" minOccurs="0" />
          <xs:element name="limitValue" type="xs:double" minOccurs="0" />
          <xs:element name="recheckTimeMicroSeconds" type="xs:unsignedInt" minOccurs="0" />
          <xs:element name="checkCount" type="xs:unsignedInt" minOccurs="0" />
          <xs:element name="lastCheckTime" type="xs:unsignedInt" minOccurs="0" />
          <xs:element name="lastCheckValue" type="xs:double" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CRCL_GuardDataType" type="tns:CRCL_GuardDataType" />

  <xs:complexType name="ListOfCRCL_GuardDataType">
    <xs:sequence>
      <xs:element name="CRCL_GuardDataType" type="tns:CRCL_GuardDataType" minOccurs="0" maxOccurs="unbounded" nillable="true" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListOfCRCL_GuardDataType" type="tns:ListOfCRCL_GuardDataType" nillable="true"></xs:element>

  <xs:complexType name="CRCL_JointPositionToleranceSettingDataType">
    <xs:annotation>
      <xs:documentation>CRCL JointPositionToleranceSettingDataType DataType</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CRCL_DataThingDataType">
        <xs:sequence>
          <xs:element name="JointNumber" type="xs:int" minOccurs="0" />
          <xs:element name="JointPositionTolerance" type="xs:double" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CRCL_JointPositionToleranceSettingDataType" type="tns:CRCL_JointPositionToleranceSettingDataType" />

  <xs:complexType name="ListOfCRCL_JointPositionToleranceSettingDataType">
    <xs:sequence>
      <xs:element name="CRCL_JointPositionToleranceSettingDataType" type="tns:CRCL_JointPositionToleranceSettingDataType" minOccurs="0" maxOccurs="unbounded" nillable="true" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListOfCRCL_JointPositionToleranceSettingDataType" type="tns:ListOfCRCL_JointPositionToleranceSettingDataType" nillable="true"></xs:element>

  <xs:complexType name="CRCL_JointPositionsTolerancesDataType">
    <xs:annotation>
      <xs:documentation>CRCL CRCL_JointPositionsTolerancesDataType DataType</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CRCL_DataThingDataType">
        <xs:sequence>
          <xs:element name="Setting" type="tns:ListOfCRCL_JointPositionToleranceSettingDataType" minOccurs="0" nillable="true" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CRCL_JointPositionsTolerancesDataType" type="tns:CRCL_JointPositionsTolerancesDataType" />

  <xs:complexType name="ListOfCRCL_JointPositionsTolerancesDataType">
    <xs:sequence>
      <xs:element name="CRCL_JointPositionsTolerancesDataType" type="tns:CRCL_JointPositionsTolerancesDataType" minOccurs="0" maxOccurs="unbounded" nillable="true" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListOfCRCL_JointPositionsTolerancesDataType" type="tns:ListOfCRCL_JointPositionsTolerancesDataType" nillable="true"></xs:element>

  <xs:complexType name="CRCL_PoseAndSetDataType">
    <xs:annotation>
      <xs:documentation>CRCL PoseAndSet DataType</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CRCL_PoseDataType">
        <xs:sequence>
          <xs:element name="Coordinated" type="xs:boolean" minOccurs="0" />
          <xs:element name="TransSpeed" type="tns:CRCL_TransSpeedDataType" minOccurs="0" nillable="true" />
          <xs:element name="RotSpeed" type="tns:CRCL_RotSpeedDataType" minOccurs="0" nillable="true" />
          <xs:element name="TransAccel" type="tns:CRCL_TransAccelDataType" minOccurs="0" nillable="true" />
          <xs:element name="RotAccel" type="tns:CRCL_RotAccelDataType" minOccurs="0" nillable="true" />
          <xs:element name="PoseTolerance" type="tns:CRCL_PoseToleranceDataType" minOccurs="0" nillable="true" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CRCL_PoseAndSetDataType" type="tns:CRCL_PoseAndSetDataType" />

  <xs:complexType name="ListOfCRCL_PoseAndSetDataType">
    <xs:sequence>
      <xs:element name="CRCL_PoseAndSetDataType" type="tns:CRCL_PoseAndSetDataType" minOccurs="0" maxOccurs="unbounded" nillable="true" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListOfCRCL_PoseAndSetDataType" type="tns:ListOfCRCL_PoseAndSetDataType" nillable="true"></xs:element>

  <xs:complexType name="CRCLCommandDataType">
    <xs:annotation>
      <xs:documentation>Base CRCLCommand</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CRCL_DataThingDataType">
        <xs:sequence>
          <xs:element name="commandID" type="xs:unsignedInt" minOccurs="0" />
          <xs:element name="Guard" type="tns:ListOfCRCL_GuardDataType" minOccurs="0" nillable="true" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CRCLCommandDataType" type="tns:CRCLCommandDataType" />

  <xs:complexType name="ListOfCRCLCommandDataType">
    <xs:sequence>
      <xs:element name="CRCLCommandDataType" type="tns:CRCLCommandDataType" minOccurs="0" maxOccurs="unbounded" nillable="true" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListOfCRCLCommandDataType" type="tns:ListOfCRCLCommandDataType" nillable="true"></xs:element>

  <xs:complexType name="MiddleCommandDataType">
    <xs:annotation>
      <xs:documentation>CRCL MiddleCommand</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CRCLCommandDataType">
        <xs:sequence>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MiddleCommandDataType" type="tns:MiddleCommandDataType" />

  <xs:complexType name="ListOfMiddleCommandDataType">
    <xs:sequence>
      <xs:element name="MiddleCommandDataType" type="tns:MiddleCommandDataType" minOccurs="0" maxOccurs="unbounded" nillable="true" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListOfMiddleCommandDataType" type="tns:ListOfMiddleCommandDataType" nillable="true"></xs:element>

  <xs:complexType name="EndCanonDataType">
    <xs:annotation>
      <xs:documentation>CRCL EndCanonType</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CRCLCommandDataType">
        <xs:sequence>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EndCanonDataType" type="tns:EndCanonDataType" />

  <xs:complexType name="ListOfEndCanonDataType">
    <xs:sequence>
      <xs:element name="EndCanonDataType" type="tns:EndCanonDataType" minOccurs="0" maxOccurs="unbounded" nillable="true" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListOfEndCanonDataType" type="tns:ListOfEndCanonDataType" nillable="true"></xs:element>

  <xs:complexType name="InitCanonDataType">
    <xs:annotation>
      <xs:documentation>CRCL InitCanonType</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CRCLCommandDataType">
        <xs:sequence>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="InitCanonDataType" type="tns:InitCanonDataType" />

  <xs:complexType name="ListOfInitCanonDataType">
    <xs:sequence>
      <xs:element name="InitCanonDataType" type="tns:InitCanonDataType" minOccurs="0" maxOccurs="unbounded" nillable="true" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListOfInitCanonDataType" type="tns:ListOfInitCanonDataType" nillable="true"></xs:element>

  <xs:complexType name="CRCL_JointDetailsDataType">
    <xs:annotation>
      <xs:documentation>CRCL JointDetailsType</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CRCL_DataThingDataType">
        <xs:sequence>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CRCL_JointDetailsDataType" type="tns:CRCL_JointDetailsDataType" />

  <xs:complexType name="ListOfCRCL_JointDetailsDataType">
    <xs:sequence>
      <xs:element name="CRCL_JointDetailsDataType" type="tns:CRCL_JointDetailsDataType" minOccurs="0" maxOccurs="unbounded" nillable="true" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListOfCRCL_JointDetailsDataType" type="tns:ListOfCRCL_JointDetailsDataType" nillable="true"></xs:element>

  <xs:complexType name="CRCL_ActuateJointDataType">
    <xs:annotation>
      <xs:documentation>CRCL ActuateJointType</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CRCL_DataThingDataType">
        <xs:sequence>
          <xs:element name="JointNumber" type="xs:int" minOccurs="0" />
          <xs:element name="CRCL:JointPosition" type="xs:double" minOccurs="0" />
          <xs:element name="CRCL:JointDetails" type="ua:Variant" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CRCL_ActuateJointDataType" type="tns:CRCL_ActuateJointDataType" />

  <xs:complexType name="ListOfCRCL_ActuateJointDataType">
    <xs:sequence>
      <xs:element name="CRCL_ActuateJointDataType" type="tns:CRCL_ActuateJointDataType" minOccurs="0" maxOccurs="unbounded" nillable="true" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListOfCRCL_ActuateJointDataType" type="tns:ListOfCRCL_ActuateJointDataType" nillable="true"></xs:element>

  <xs:complexType name="JointForceTorqueDataType">
    <xs:annotation>
      <xs:documentation>CRCL ActuateJointsType</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CRCL_JointDetailsDataType">
        <xs:sequence>
          <xs:element name="CRCL:Setting" type="xs:double" minOccurs="0" />
          <xs:element name="CRCL:ChangeRate" type="xs:double" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="JointForceTorqueDataType" type="tns:JointForceTorqueDataType" />

  <xs:complexType name="ListOfJointForceTorqueDataType">
    <xs:sequence>
      <xs:element name="JointForceTorqueDataType" type="tns:JointForceTorqueDataType" minOccurs="0" maxOccurs="unbounded" nillable="true" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListOfJointForceTorqueDataType" type="tns:ListOfJointForceTorqueDataType" nillable="true"></xs:element>

  <xs:complexType name="JointSpeedAccelDataType">
    <xs:annotation>
      <xs:documentation>CRCL ActuateJointsType</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CRCL_JointDetailsDataType">
        <xs:sequence>
          <xs:element name="CRCL:JointSpeed" type="xs:double" minOccurs="0" />
          <xs:element name="CRCL:JointAccel" type="xs:double" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="JointSpeedAccelDataType" type="tns:JointSpeedAccelDataType" />

  <xs:complexType name="ListOfJointSpeedAccelDataType">
    <xs:sequence>
      <xs:element name="JointSpeedAccelDataType" type="tns:JointSpeedAccelDataType" minOccurs="0" maxOccurs="unbounded" nillable="true" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListOfJointSpeedAccelDataType" type="tns:ListOfJointSpeedAccelDataType" nillable="true"></xs:element>

  <xs:complexType name="ActuateJointsDataType">
    <xs:annotation>
      <xs:documentation>CRCL ActuateJointsType</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:MiddleCommandDataType">
        <xs:sequence>
          <xs:element name="CRCL:JointSpeed" type="xs:double" minOccurs="0" />
          <xs:element name="CRCL:JointAccel" type="xs:double" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ActuateJointsDataType" type="tns:ActuateJointsDataType" />

  <xs:complexType name="ListOfActuateJointsDataType">
    <xs:sequence>
      <xs:element name="ActuateJointsDataType" type="tns:ActuateJointsDataType" minOccurs="0" maxOccurs="unbounded" nillable="true" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListOfActuateJointsDataType" type="tns:ListOfActuateJointsDataType" nillable="true"></xs:element>

  <xs:complexType name="MoveToDataType">
    <xs:annotation>
      <xs:documentation>CRCL MoveTo</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:MiddleCommandDataType">
        <xs:sequence>
          <xs:element name="MoveStraight" type="xs:boolean" minOccurs="0" />
          <xs:element name="EndPosition" type="tns:CRCL_PoseDataType" minOccurs="0" nillable="true" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MoveToDataType" type="tns:MoveToDataType" />

  <xs:complexType name="ListOfMoveToDataType">
    <xs:sequence>
      <xs:element name="MoveToDataType" type="tns:MoveToDataType" minOccurs="0" maxOccurs="unbounded" nillable="true" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListOfMoveToDataType" type="tns:ListOfMoveToDataType" nillable="true"></xs:element>

  <xs:complexType name="CloseToolChangerDataType">
    <xs:annotation>
      <xs:documentation>CRCL CloseToolChanger MiddleCommand</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:MiddleCommandDataType">
        <xs:sequence>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CloseToolChangerDataType" type="tns:CloseToolChangerDataType" />

  <xs:complexType name="ListOfCloseToolChangerDataType">
    <xs:sequence>
      <xs:element name="CloseToolChangerDataType" type="tns:CloseToolChangerDataType" minOccurs="0" maxOccurs="unbounded" nillable="true" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListOfCloseToolChangerDataType" type="tns:ListOfCloseToolChangerDataType" nillable="true"></xs:element>

  <xs:complexType name="DwellDataType">
    <xs:annotation>
      <xs:documentation>CRCL Dwell</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:MiddleCommandDataType">
        <xs:sequence>
          <xs:element name="DwellTime" type="xs:double" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DwellDataType" type="tns:DwellDataType" />

  <xs:complexType name="ListOfDwellDataType">
    <xs:sequence>
      <xs:element name="DwellDataType" type="tns:DwellDataType" minOccurs="0" maxOccurs="unbounded" nillable="true" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListOfDwellDataType" type="tns:ListOfDwellDataType" nillable="true"></xs:element>

  <xs:complexType name="GetStatusDataType">
    <xs:annotation>
      <xs:documentation>CRCL GetStatus</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:MiddleCommandDataType">
        <xs:sequence>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetStatusDataType" type="tns:GetStatusDataType" />

  <xs:complexType name="ListOfGetStatusDataType">
    <xs:sequence>
      <xs:element name="GetStatusDataType" type="tns:GetStatusDataType" minOccurs="0" maxOccurs="unbounded" nillable="true" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListOfGetStatusDataType" type="tns:ListOfGetStatusDataType" nillable="true"></xs:element>

  <xs:complexType name="MessageDataType">
    <xs:annotation>
      <xs:documentation>CRCL Message</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:MiddleCommandDataType">
        <xs:sequence>
          <xs:element name="Message" type="xs:string" minOccurs="0" nillable="true" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MessageDataType" type="tns:MessageDataType" />

  <xs:complexType name="ListOfMessageDataType">
    <xs:sequence>
      <xs:element name="MessageDataType" type="tns:MessageDataType" minOccurs="0" maxOccurs="unbounded" nillable="true" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListOfMessageDataType" type="tns:ListOfMessageDataType" nillable="true"></xs:element>

  <xs:complexType name="MoveScrewDataType">
    <xs:annotation>
      <xs:documentation>CRCL MoveScrew</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:MiddleCommandDataType">
        <xs:sequence>
          <xs:element name="StartPosition" type="tns:CRCL_PoseDataType" minOccurs="0" nillable="true" />
          <xs:element name="AxisPoint" type="tns:CRCL_PointDataType" minOccurs="0" nillable="true" />
          <xs:element name="AxialDistanceFree" type="xs:double" minOccurs="0" />
          <xs:element name="AxialDistanceScrew" type="xs:double" minOccurs="0" />
          <xs:element name="Turn" type="xs:double" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MoveScrewDataType" type="tns:MoveScrewDataType" />

  <xs:complexType name="ListOfMoveScrewDataType">
    <xs:sequence>
      <xs:element name="MoveScrewDataType" type="tns:MoveScrewDataType" minOccurs="0" maxOccurs="unbounded" nillable="true" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListOfMoveScrewDataType" type="tns:ListOfMoveScrewDataType" nillable="true"></xs:element>

  <xs:complexType name="MoveThroughToDataType">
    <xs:annotation>
      <xs:documentation>CRCL MoveThroughTo</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:MiddleCommandDataType">
        <xs:sequence>
          <xs:element name="MoveStraight" type="xs:boolean" minOccurs="0" />
          <xs:element name="Waypoint" type="tns:ListOfCRCL_PoseDataType" minOccurs="0" nillable="true" />
          <xs:element name="NumPositions" type="xs:unsignedInt" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MoveThroughToDataType" type="tns:MoveThroughToDataType" />

  <xs:complexType name="ListOfMoveThroughToDataType">
    <xs:sequence>
      <xs:element name="MoveThroughToDataType" type="tns:MoveThroughToDataType" minOccurs="0" maxOccurs="unbounded" nillable="true" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListOfMoveThroughToDataType" type="tns:ListOfMoveThroughToDataType" nillable="true"></xs:element>

  <xs:complexType name="OpenToolChangerDataType">
    <xs:annotation>
      <xs:documentation>CRCL OpenToolChanger</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:MiddleCommandDataType">
        <xs:sequence>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="OpenToolChangerDataType" type="tns:OpenToolChangerDataType" />

  <xs:complexType name="ListOfOpenToolChangerDataType">
    <xs:sequence>
      <xs:element name="OpenToolChangerDataType" type="tns:OpenToolChangerDataType" minOccurs="0" maxOccurs="unbounded" nillable="true" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListOfOpenToolChangerDataType" type="tns:ListOfOpenToolChangerDataType" nillable="true"></xs:element>

  <xs:complexType name="RunProgramDataType">
    <xs:annotation>
      <xs:documentation>CRCL RunProgram</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:MiddleCommandDataType">
        <xs:sequence>
          <xs:element name="ProgramText" type="xs:string" minOccurs="0" nillable="true" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RunProgramDataType" type="tns:RunProgramDataType" />

  <xs:complexType name="ListOfRunProgramDataType">
    <xs:sequence>
      <xs:element name="RunProgramDataType" type="tns:RunProgramDataType" minOccurs="0" maxOccurs="unbounded" nillable="true" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListOfRunProgramDataType" type="tns:ListOfRunProgramDataType" nillable="true"></xs:element>

  <xs:complexType name="SetAngleUnitsDataType">
    <xs:annotation>
      <xs:documentation>CRCL SetAngleUnits</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:MiddleCommandDataType">
        <xs:sequence>
          <xs:element name="UnitName" type="tns:CRCL_AngleUnitEnumDataType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SetAngleUnitsDataType" type="tns:SetAngleUnitsDataType" />

  <xs:complexType name="ListOfSetAngleUnitsDataType">
    <xs:sequence>
      <xs:element name="SetAngleUnitsDataType" type="tns:SetAngleUnitsDataType" minOccurs="0" maxOccurs="unbounded" nillable="true" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListOfSetAngleUnitsDataType" type="tns:ListOfSetAngleUnitsDataType" nillable="true"></xs:element>

  <xs:complexType name="SetEndEffectorParametersDataType">
    <xs:annotation>
      <xs:documentation>CRCL SetEndEffectorParameters</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:MiddleCommandDataType">
        <xs:sequence>
          <xs:element name="ParameterSetting" type="tns:ListOfCRCL_ParameterSettingDataType" minOccurs="0" nillable="true" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SetEndEffectorParametersDataType" type="tns:SetEndEffectorParametersDataType" />

  <xs:complexType name="ListOfSetEndEffectorParametersDataType">
    <xs:sequence>
      <xs:element name="SetEndEffectorParametersDataType" type="tns:SetEndEffectorParametersDataType" minOccurs="0" maxOccurs="unbounded" nillable="true" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListOfSetEndEffectorParametersDataType" type="tns:ListOfSetEndEffectorParametersDataType" nillable="true"></xs:element>

  <xs:complexType name="SetEndEffectorDataType">
    <xs:annotation>
      <xs:documentation>CRCL SetEndEffector</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:MiddleCommandDataType">
        <xs:sequence>
          <xs:element name="Setting" type="tns:CRCL_FractionDataType" minOccurs="0" nillable="true" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SetEndEffectorDataType" type="tns:SetEndEffectorDataType" />

  <xs:complexType name="ListOfSetEndEffectorDataType">
    <xs:sequence>
      <xs:element name="SetEndEffectorDataType" type="tns:SetEndEffectorDataType" minOccurs="0" maxOccurs="unbounded" nillable="true" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListOfSetEndEffectorDataType" type="tns:ListOfSetEndEffectorDataType" nillable="true"></xs:element>

  <xs:complexType name="SetEndPoseToleranceDataType">
    <xs:annotation>
      <xs:documentation>CRCL SetEndPoseTolerance</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:MiddleCommandDataType">
        <xs:sequence>
          <xs:element name="Tolerance" type="tns:CRCL_PoseToleranceDataType" minOccurs="0" nillable="true" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SetEndPoseToleranceDataType" type="tns:SetEndPoseToleranceDataType" />

  <xs:complexType name="ListOfSetEndPoseToleranceDataType">
    <xs:sequence>
      <xs:element name="SetEndPoseToleranceDataType" type="tns:SetEndPoseToleranceDataType" minOccurs="0" maxOccurs="unbounded" nillable="true" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListOfSetEndPoseToleranceDataType" type="tns:ListOfSetEndPoseToleranceDataType" nillable="true"></xs:element>

  <xs:complexType name="SetForceUnitsDataType">
    <xs:annotation>
      <xs:documentation>CRCL SetForceUnits</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:MiddleCommandDataType">
        <xs:sequence>
          <xs:element name="UnitName" type="tns:CRCL_ForceUnitEnumDataType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SetForceUnitsDataType" type="tns:SetForceUnitsDataType" />

  <xs:complexType name="ListOfSetForceUnitsDataType">
    <xs:sequence>
      <xs:element name="SetForceUnitsDataType" type="tns:SetForceUnitsDataType" minOccurs="0" maxOccurs="unbounded" nillable="true" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListOfSetForceUnitsDataType" type="tns:ListOfSetForceUnitsDataType" nillable="true"></xs:element>

  <xs:complexType name="SetIntermediatePoseToleranceDataType">
    <xs:annotation>
      <xs:documentation>CRCL SetIntermediatePoseTolerance</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:MiddleCommandDataType">
        <xs:sequence>
          <xs:element name="Tolerance" type="tns:CRCL_PoseToleranceDataType" minOccurs="0" nillable="true" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SetIntermediatePoseToleranceDataType" type="tns:SetIntermediatePoseToleranceDataType" />

  <xs:complexType name="ListOfSetIntermediatePoseToleranceDataType">
    <xs:sequence>
      <xs:element name="SetIntermediatePoseToleranceDataType" type="tns:SetIntermediatePoseToleranceDataType" minOccurs="0" maxOccurs="unbounded" nillable="true" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListOfSetIntermediatePoseToleranceDataType" type="tns:ListOfSetIntermediatePoseToleranceDataType" nillable="true"></xs:element>

  <xs:complexType name="SetLengthUnitsDataType">
    <xs:annotation>
      <xs:documentation>CRCL SetLengthUnits</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:MiddleCommandDataType">
        <xs:sequence>
          <xs:element name="UnitName" type="tns:CRCL_LengthUnitEnumDataType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SetLengthUnitsDataType" type="tns:SetLengthUnitsDataType" />

  <xs:complexType name="ListOfSetLengthUnitsDataType">
    <xs:sequence>
      <xs:element name="SetLengthUnitsDataType" type="tns:SetLengthUnitsDataType" minOccurs="0" maxOccurs="unbounded" nillable="true" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListOfSetLengthUnitsDataType" type="tns:ListOfSetLengthUnitsDataType" nillable="true"></xs:element>

  <xs:complexType name="SetMotionCoordinationDataType">
    <xs:annotation>
      <xs:documentation>CRCL SetMotionCoordination</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:MiddleCommandDataType">
        <xs:sequence>
          <xs:element name="Coordinated" type="xs:boolean" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SetMotionCoordinationDataType" type="tns:SetMotionCoordinationDataType" />

  <xs:complexType name="ListOfSetMotionCoordinationDataType">
    <xs:sequence>
      <xs:element name="SetMotionCoordinationDataType" type="tns:SetMotionCoordinationDataType" minOccurs="0" maxOccurs="unbounded" nillable="true" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListOfSetMotionCoordinationDataType" type="tns:ListOfSetMotionCoordinationDataType" nillable="true"></xs:element>

  <xs:complexType name="SetRobotParametersDataType">
    <xs:annotation>
      <xs:documentation>CRCL SetRobotParameters</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:MiddleCommandDataType">
        <xs:sequence>
          <xs:element name="ParameterSetting" type="tns:ListOfCRCL_ParameterSettingDataType" minOccurs="0" nillable="true" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SetRobotParametersDataType" type="tns:SetRobotParametersDataType" />

  <xs:complexType name="ListOfSetRobotParametersDataType">
    <xs:sequence>
      <xs:element name="SetRobotParametersDataType" type="tns:SetRobotParametersDataType" minOccurs="0" maxOccurs="unbounded" nillable="true" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListOfSetRobotParametersDataType" type="tns:ListOfSetRobotParametersDataType" nillable="true"></xs:element>

  <xs:complexType name="SetTorqueUnitsDataType">
    <xs:annotation>
      <xs:documentation>CRCL SetLengthUnits</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:MiddleCommandDataType">
        <xs:sequence>
          <xs:element name="UnitName" type="tns:CRCL_TorqueUnitEnumDataType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SetTorqueUnitsDataType" type="tns:SetTorqueUnitsDataType" />

  <xs:complexType name="ListOfSetTorqueUnitsDataType">
    <xs:sequence>
      <xs:element name="SetTorqueUnitsDataType" type="tns:SetTorqueUnitsDataType" minOccurs="0" maxOccurs="unbounded" nillable="true" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListOfSetTorqueUnitsDataType" type="tns:ListOfSetTorqueUnitsDataType" nillable="true"></xs:element>

  <xs:complexType name="StopMotionDataType">
    <xs:annotation>
      <xs:documentation>CRCL StopMotion</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:MiddleCommandDataType">
        <xs:sequence>
          <xs:element name="StopCondition" type="tns:CRCL_StopConditionEnumDataType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="StopMotionDataType" type="tns:StopMotionDataType" />

  <xs:complexType name="ListOfStopMotionDataType">
    <xs:sequence>
      <xs:element name="StopMotionDataType" type="tns:StopMotionDataType" minOccurs="0" maxOccurs="unbounded" nillable="true" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListOfStopMotionDataType" type="tns:ListOfStopMotionDataType" nillable="true"></xs:element>

  <xs:complexType name="ConfigureStatusReportDataType">
    <xs:annotation>
      <xs:documentation>CRCL ConfigureStatusReport</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:MiddleCommandDataType">
        <xs:sequence>
          <xs:element name="ReportJointStatuses" type="xs:boolean" minOccurs="0" />
          <xs:element name="ReportPoseStatus" type="xs:boolean" minOccurs="0" />
          <xs:element name="ReportGripperStatus" type="xs:boolean" minOccurs="0" />
          <xs:element name="ReportSettingsStatus" type="xs:boolean" minOccurs="0" />
          <xs:element name="ReportSensorsStatus" type="xs:boolean" minOccurs="0" />
          <xs:element name="ReportGuardsStatus" type="xs:boolean" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ConfigureStatusReportDataType" type="tns:ConfigureStatusReportDataType" />

  <xs:complexType name="ListOfConfigureStatusReportDataType">
    <xs:sequence>
      <xs:element name="ConfigureStatusReportDataType" type="tns:ConfigureStatusReportDataType" minOccurs="0" maxOccurs="unbounded" nillable="true" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListOfConfigureStatusReportDataType" type="tns:ListOfConfigureStatusReportDataType" nillable="true"></xs:element>

  <xs:complexType name="EnableSensorDataType">
    <xs:annotation>
      <xs:documentation>CRCL EnableSensor</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:MiddleCommandDataType">
        <xs:sequence>
          <xs:element name="SensorID" type="xs:string" minOccurs="0" nillable="true" />
          <xs:element name="SensorOption" type="tns:ListOfCRCL_ParameterSettingDataType" minOccurs="0" nillable="true" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EnableSensorDataType" type="tns:EnableSensorDataType" />

  <xs:complexType name="ListOfEnableSensorDataType">
    <xs:sequence>
      <xs:element name="EnableSensorDataType" type="tns:EnableSensorDataType" minOccurs="0" maxOccurs="unbounded" nillable="true" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListOfEnableSensorDataType" type="tns:ListOfEnableSensorDataType" nillable="true"></xs:element>

  <xs:complexType name="DisableSensorDataType">
    <xs:annotation>
      <xs:documentation>CRCL DisableSensor</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:MiddleCommandDataType">
        <xs:sequence>
          <xs:element name="SensorID" type="xs:string" minOccurs="0" nillable="true" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DisableSensorDataType" type="tns:DisableSensorDataType" />

  <xs:complexType name="ListOfDisableSensorDataType">
    <xs:sequence>
      <xs:element name="DisableSensorDataType" type="tns:DisableSensorDataType" minOccurs="0" maxOccurs="unbounded" nillable="true" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListOfDisableSensorDataType" type="tns:ListOfDisableSensorDataType" nillable="true"></xs:element>

  <xs:complexType name="EnableGripperDataType">
    <xs:annotation>
      <xs:documentation>CRCL EnableGripper</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:MiddleCommandDataType">
        <xs:sequence>
          <xs:element name="GripperName" type="xs:string" minOccurs="0" nillable="true" />
          <xs:element name="GripperOption" type="tns:ListOfCRCL_ParameterSettingDataType" minOccurs="0" nillable="true" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EnableGripperDataType" type="tns:EnableGripperDataType" />

  <xs:complexType name="ListOfEnableGripperDataType">
    <xs:sequence>
      <xs:element name="EnableGripperDataType" type="tns:EnableGripperDataType" minOccurs="0" maxOccurs="unbounded" nillable="true" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListOfEnableGripperDataType" type="tns:ListOfEnableGripperDataType" nillable="true"></xs:element>

  <xs:complexType name="DisableGripperDataType">
    <xs:annotation>
      <xs:documentation>CRCL DisableGripper</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:MiddleCommandDataType">
        <xs:sequence>
          <xs:element name="GripperName" type="xs:string" minOccurs="0" nillable="true" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DisableGripperDataType" type="tns:DisableGripperDataType" />

  <xs:complexType name="ListOfDisableGripperDataType">
    <xs:sequence>
      <xs:element name="DisableGripperDataType" type="tns:DisableGripperDataType" minOccurs="0" maxOccurs="unbounded" nillable="true" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListOfDisableGripperDataType" type="tns:ListOfDisableGripperDataType" nillable="true"></xs:element>

  <xs:complexType name="CRCLSkillDataType">
    <xs:annotation>
      <xs:documentation>CRCLProgramm</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CRCL_DataThingDataType">
        <xs:sequence>
          <xs:element name="CRCLCommands" type="tns:ListOfCRCLCommandsUnionDataType" minOccurs="0" nillable="true" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CRCLSkillDataType" type="tns:CRCLSkillDataType" />

  <xs:complexType name="ListOfCRCLSkillDataType">
    <xs:sequence>
      <xs:element name="CRCLSkillDataType" type="tns:CRCLSkillDataType" minOccurs="0" maxOccurs="unbounded" nillable="true" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListOfCRCLSkillDataType" type="tns:ListOfCRCLSkillDataType" nillable="true"></xs:element>

  <xs:complexType name="EnableRobotParameterStatusDataType">
    <xs:annotation>
      <xs:documentation>CRCL EnableRobotParameterStatus</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:MiddleCommandDataType">
        <xs:sequence>
          <xs:element name="RobotParameterName" type="xs:string" minOccurs="0" nillable="true" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EnableRobotParameterStatusDataType" type="tns:EnableRobotParameterStatusDataType" />

  <xs:complexType name="ListOfEnableRobotParameterStatusDataType">
    <xs:sequence>
      <xs:element name="EnableRobotParameterStatusDataType" type="tns:EnableRobotParameterStatusDataType" minOccurs="0" maxOccurs="unbounded" nillable="true" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListOfEnableRobotParameterStatusDataType" type="tns:ListOfEnableRobotParameterStatusDataType" nillable="true"></xs:element>

  <xs:complexType name="DisableRobotParameterStatusDataType">
    <xs:annotation>
      <xs:documentation>CRCL DisableRobotParameterStatus</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:MiddleCommandDataType">
        <xs:sequence>
          <xs:element name="RobotParameterName" type="xs:string" minOccurs="0" nillable="true" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DisableRobotParameterStatusDataType" type="tns:DisableRobotParameterStatusDataType" />

  <xs:complexType name="ListOfDisableRobotParameterStatusDataType">
    <xs:sequence>
      <xs:element name="DisableRobotParameterStatusDataType" type="tns:DisableRobotParameterStatusDataType" minOccurs="0" maxOccurs="unbounded" nillable="true" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListOfDisableRobotParameterStatusDataType" type="tns:ListOfDisableRobotParameterStatusDataType" nillable="true"></xs:element>

  <xs:complexType name="SetDefaultJointPositonsTolerancesDataType">
    <xs:annotation>
      <xs:documentation>CRCL SetEndPoseTolerance</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:MiddleCommandDataType">
        <xs:sequence>
          <xs:element name="JointTolerances" type="tns:CRCL_JointPositionsTolerancesDataType" minOccurs="0" nillable="true" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SetDefaultJointPositonsTolerancesDataType" type="tns:SetDefaultJointPositonsTolerancesDataType" />

  <xs:complexType name="ListOfSetDefaultJointPositonsTolerancesDataType">
    <xs:sequence>
      <xs:element name="SetDefaultJointPositonsTolerancesDataType" type="tns:SetDefaultJointPositonsTolerancesDataType" minOccurs="0" maxOccurs="unbounded" nillable="true" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListOfSetDefaultJointPositonsTolerancesDataType" type="tns:ListOfSetDefaultJointPositonsTolerancesDataType" nillable="true"></xs:element>

  <xs:complexType name="SetRotAccelDataType">
    <xs:annotation>
      <xs:documentation>CRCL SetRotAccel</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:MiddleCommandDataType">
        <xs:sequence>
          <xs:element name="RotAccel" type="ua:ExtensionObject" minOccurs="0" nillable="true" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SetRotAccelDataType" type="tns:SetRotAccelDataType" />

  <xs:complexType name="ListOfSetRotAccelDataType">
    <xs:sequence>
      <xs:element name="SetRotAccelDataType" type="tns:SetRotAccelDataType" minOccurs="0" maxOccurs="unbounded" nillable="true" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListOfSetRotAccelDataType" type="tns:ListOfSetRotAccelDataType" nillable="true"></xs:element>

  <xs:complexType name="SetTransAccelDataType">
    <xs:annotation>
      <xs:documentation>CRCL SetTransAccel</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:MiddleCommandDataType">
        <xs:sequence>
          <xs:element name="TransAccel" type="ua:ExtensionObject" minOccurs="0" nillable="true" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SetTransAccelDataType" type="tns:SetTransAccelDataType" />

  <xs:complexType name="ListOfSetTransAccelDataType">
    <xs:sequence>
      <xs:element name="SetTransAccelDataType" type="tns:SetTransAccelDataType" minOccurs="0" maxOccurs="unbounded" nillable="true" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListOfSetTransAccelDataType" type="tns:ListOfSetTransAccelDataType" nillable="true"></xs:element>

  <xs:complexType name="SetRotSpeedDataType">
    <xs:annotation>
      <xs:documentation>CRCL SetRotSpeed</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:MiddleCommandDataType">
        <xs:sequence>
          <xs:element name="RotSpeed" type="ua:ExtensionObject" minOccurs="0" nillable="true" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SetRotSpeedDataType" type="tns:SetRotSpeedDataType" />

  <xs:complexType name="ListOfSetRotSpeedDataType">
    <xs:sequence>
      <xs:element name="SetRotSpeedDataType" type="tns:SetRotSpeedDataType" minOccurs="0" maxOccurs="unbounded" nillable="true" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListOfSetRotSpeedDataType" type="tns:ListOfSetRotSpeedDataType" nillable="true"></xs:element>

  <xs:complexType name="SetTransSpeedDataType">
    <xs:annotation>
      <xs:documentation>CRCL SetTransSpeed</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:MiddleCommandDataType">
        <xs:sequence>
          <xs:element name="TransSpeed" type="ua:ExtensionObject" minOccurs="0" nillable="true" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SetTransSpeedDataType" type="tns:SetTransSpeedDataType" />

  <xs:complexType name="ListOfSetTransSpeedDataType">
    <xs:sequence>
      <xs:element name="SetTransSpeedDataType" type="tns:SetTransSpeedDataType" minOccurs="0" maxOccurs="unbounded" nillable="true" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListOfSetTransSpeedDataType" type="tns:ListOfSetTransSpeedDataType" nillable="true"></xs:element>

  <xs:complexType name="UnionTestDataType">
    <xs:annotation>
      <xs:documentation>CRCL SetTransSpeed</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="ua:Union">
        <xs:sequence>
          <xs:element name="switchField" type="xs:unsignedInt" minOccurs="0" />
          <xs:element name="stringValue" type="xs:string" minOccurs="0" nillable="true" />
          <xs:element name="booleanValue" type="xs:boolean" minOccurs="0" />
          <xs:element name="uint32Value" type="xs:unsignedInt" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UnionTestDataType" type="tns:UnionTestDataType" />

  <xs:complexType name="ListOfUnionTestDataType">
    <xs:sequence>
      <xs:element name="UnionTestDataType" type="tns:UnionTestDataType" minOccurs="0" maxOccurs="unbounded" nillable="true" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListOfUnionTestDataType" type="tns:ListOfUnionTestDataType" nillable="true"></xs:element>

  <xs:simpleType  name="CRCL_CommandStateEnumDataType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CRCL_DONE_0" />
      <xs:enumeration value="CRCL_ERROR_1" />
      <xs:enumeration value="CRCL_WORKING_2" />
      <xs:enumeration value="CRCL_READY_3" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="CRCL_CommandStateEnumDataType" type="tns:CRCL_CommandStateEnumDataType" />

  <xs:complexType name="ListOfCRCL_CommandStateEnumDataType">
    <xs:sequence>
      <xs:element name="CRCL_CommandStateEnumDataType" type="tns:CRCL_CommandStateEnumDataType" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListOfCRCL_CommandStateEnumDataType" type="tns:ListOfCRCL_CommandStateEnumDataType" nillable="true"></xs:element>

  <xs:complexType name="CRCL_CommandStatusDataType">
    <xs:annotation>
      <xs:documentation>CRCL Status of a CRCL command</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CRCL_DataThingDataType">
        <xs:sequence>
          <xs:element name="commandID" type="xs:unsignedInt" minOccurs="0" />
          <xs:element name="statusID" type="xs:unsignedInt" minOccurs="0" />
          <xs:element name="commandState" type="tns:CRCL_CommandStateEnumDataType" minOccurs="0" />
          <xs:element name="stateDescription" type="xs:string" minOccurs="0" nillable="true" />
          <xs:element name="programmFile" type="xs:string" minOccurs="0" nillable="true" />
          <xs:element name="programmIndex" type="xs:unsignedInt" minOccurs="0" />
          <xs:element name="programmLength" type="xs:unsignedInt" minOccurs="0" />
          <xs:element name="overridePercent" type="xs:unsignedInt" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CRCL_CommandStatusDataType" type="tns:CRCL_CommandStatusDataType" />

  <xs:complexType name="ListOfCRCL_CommandStatusDataType">
    <xs:sequence>
      <xs:element name="CRCL_CommandStatusDataType" type="tns:CRCL_CommandStatusDataType" minOccurs="0" maxOccurs="unbounded" nillable="true" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListOfCRCL_CommandStatusDataType" type="tns:ListOfCRCL_CommandStatusDataType" nillable="true"></xs:element>

  <xs:complexType name="CRCL_SensorStatusDataType">
    <xs:annotation>
      <xs:documentation>CRCL State of a sensor</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CRCL_DataThingDataType">
        <xs:sequence>
          <xs:element name="sensorID" type="xs:string" minOccurs="0" nillable="true" />
          <xs:element name="readCount" type="xs:unsignedInt" minOccurs="0" />
          <xs:element name="lastReadTime" type="xs:unsignedInt" minOccurs="0" />
          <xs:element name="sensorParameterSetting" type="tns:ListOfCRCL_ParameterSettingDataType" minOccurs="0" nillable="true" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CRCL_SensorStatusDataType" type="tns:CRCL_SensorStatusDataType" />

  <xs:complexType name="ListOfCRCL_SensorStatusDataType">
    <xs:sequence>
      <xs:element name="CRCL_SensorStatusDataType" type="tns:CRCL_SensorStatusDataType" minOccurs="0" maxOccurs="unbounded" nillable="true" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListOfCRCL_SensorStatusDataType" type="tns:ListOfCRCL_SensorStatusDataType" nillable="true"></xs:element>

  <xs:complexType name="CRCL_CountSensorStatusDataType">
    <xs:annotation>
      <xs:documentation>CRCL State of a count sensor</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CRCL_SensorStatusDataType">
        <xs:sequence>
          <xs:element name="countValue" type="xs:unsignedInt" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CRCL_CountSensorStatusDataType" type="tns:CRCL_CountSensorStatusDataType" />

  <xs:complexType name="ListOfCRCL_CountSensorStatusDataType">
    <xs:sequence>
      <xs:element name="CRCL_CountSensorStatusDataType" type="tns:CRCL_CountSensorStatusDataType" minOccurs="0" maxOccurs="unbounded" nillable="true" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListOfCRCL_CountSensorStatusDataType" type="tns:ListOfCRCL_CountSensorStatusDataType" nillable="true"></xs:element>

  <xs:complexType name="CRCL_OnOffSensorStatusDataType">
    <xs:annotation>
      <xs:documentation>CRCL State of a OnOff sensor</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CRCL_SensorStatusDataType">
        <xs:sequence>
          <xs:element name="on" type="xs:boolean" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CRCL_OnOffSensorStatusDataType" type="tns:CRCL_OnOffSensorStatusDataType" />

  <xs:complexType name="ListOfCRCL_OnOffSensorStatusDataType">
    <xs:sequence>
      <xs:element name="CRCL_OnOffSensorStatusDataType" type="tns:CRCL_OnOffSensorStatusDataType" minOccurs="0" maxOccurs="unbounded" nillable="true" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListOfCRCL_OnOffSensorStatusDataType" type="tns:ListOfCRCL_OnOffSensorStatusDataType" nillable="true"></xs:element>

  <xs:complexType name="CRCL_ScalarSensorStatusDataType">
    <xs:annotation>
      <xs:documentation>CRCL State of a scalar sensor</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CRCL_SensorStatusDataType">
        <xs:sequence>
          <xs:element name="scalarValue" type="xs:double" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CRCL_ScalarSensorStatusDataType" type="tns:CRCL_ScalarSensorStatusDataType" />

  <xs:complexType name="ListOfCRCL_ScalarSensorStatusDataType">
    <xs:sequence>
      <xs:element name="CRCL_ScalarSensorStatusDataType" type="tns:CRCL_ScalarSensorStatusDataType" minOccurs="0" maxOccurs="unbounded" nillable="true" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListOfCRCL_ScalarSensorStatusDataType" type="tns:ListOfCRCL_ScalarSensorStatusDataType" nillable="true"></xs:element>

  <xs:complexType name="CRCL_ForceTorqueSensorStatusDataType">
    <xs:annotation>
      <xs:documentation>CRCL State of a count sensor</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CRCL_SensorStatusDataType">
        <xs:sequence>
          <xs:element name="fx" type="xs:double" minOccurs="0" />
          <xs:element name="fy" type="xs:double" minOccurs="0" />
          <xs:element name="fz" type="xs:double" minOccurs="0" />
          <xs:element name="tx" type="xs:double" minOccurs="0" />
          <xs:element name="ty" type="xs:double" minOccurs="0" />
          <xs:element name="tz" type="xs:double" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CRCL_ForceTorqueSensorStatusDataType" type="tns:CRCL_ForceTorqueSensorStatusDataType" />

  <xs:complexType name="ListOfCRCL_ForceTorqueSensorStatusDataType">
    <xs:sequence>
      <xs:element name="CRCL_ForceTorqueSensorStatusDataType" type="tns:CRCL_ForceTorqueSensorStatusDataType" minOccurs="0" maxOccurs="unbounded" nillable="true" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListOfCRCL_ForceTorqueSensorStatusDataType" type="tns:ListOfCRCL_ForceTorqueSensorStatusDataType" nillable="true"></xs:element>

  <xs:complexType name="CRCL_SensorStatusesDataType">
    <xs:annotation>
      <xs:documentation>CRCL State of a sensor</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CRCL_DataThingDataType">
        <xs:sequence>
          <xs:element name="onOffSensorStatus" type="tns:ListOfCRCL_OnOffSensorStatusDataType" minOccurs="0" nillable="true" />
          <xs:element name="scalarSensorStatus" type="tns:ListOfCRCL_ScalarSensorStatusDataType" minOccurs="0" nillable="true" />
          <xs:element name="countSensorStatus" type="tns:ListOfCRCL_CountSensorStatusDataType" minOccurs="0" nillable="true" />
          <xs:element name="forceTorqueSensorStatus" type="tns:ListOfCRCL_ForceTorqueSensorStatusDataType" minOccurs="0" nillable="true" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CRCL_SensorStatusesDataType" type="tns:CRCL_SensorStatusesDataType" />

  <xs:complexType name="ListOfCRCL_SensorStatusesDataType">
    <xs:sequence>
      <xs:element name="CRCL_SensorStatusesDataType" type="tns:CRCL_SensorStatusesDataType" minOccurs="0" maxOccurs="unbounded" nillable="true" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListOfCRCL_SensorStatusesDataType" type="tns:ListOfCRCL_SensorStatusesDataType" nillable="true"></xs:element>

  <xs:complexType name="CRCL_GripperStatusDataType">
    <xs:annotation>
      <xs:documentation>GripperStatus DataType</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CRCL_DataThingDataType">
        <xs:sequence>
          <xs:element name="gripperName" type="xs:string" minOccurs="0" nillable="true" />
          <xs:element name="gripperOption" type="tns:ListOfCRCL_ParameterSettingDataType" minOccurs="0" nillable="true" />
          <xs:element name="holdingObject" type="xs:boolean" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CRCL_GripperStatusDataType" type="tns:CRCL_GripperStatusDataType" />

  <xs:complexType name="ListOfCRCL_GripperStatusDataType">
    <xs:sequence>
      <xs:element name="CRCL_GripperStatusDataType" type="tns:CRCL_GripperStatusDataType" minOccurs="0" maxOccurs="unbounded" nillable="true" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListOfCRCL_GripperStatusDataType" type="tns:ListOfCRCL_GripperStatusDataType" nillable="true"></xs:element>

  <xs:complexType name="CRCL_ParallelGripperStatusDataType">
    <xs:annotation>
      <xs:documentation>GripperStatus DataType</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CRCL_GripperStatusDataType">
        <xs:sequence>
          <xs:element name="seperation" type="xs:double" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CRCL_ParallelGripperStatusDataType" type="tns:CRCL_ParallelGripperStatusDataType" />

  <xs:complexType name="ListOfCRCL_ParallelGripperStatusDataType">
    <xs:sequence>
      <xs:element name="CRCL_ParallelGripperStatusDataType" type="tns:CRCL_ParallelGripperStatusDataType" minOccurs="0" maxOccurs="unbounded" nillable="true" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListOfCRCL_ParallelGripperStatusDataType" type="tns:ListOfCRCL_ParallelGripperStatusDataType" nillable="true"></xs:element>

  <xs:complexType name="CRCL_ThreeFingerGripperStatusDataType">
    <xs:annotation>
      <xs:documentation>GripperStatus DataType</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CRCL_GripperStatusDataType">
        <xs:sequence>
          <xs:element name="finger1Position" type="tns:CRCL_FractionDataType" minOccurs="0" nillable="true" />
          <xs:element name="finger2Position" type="tns:CRCL_FractionDataType" minOccurs="0" nillable="true" />
          <xs:element name="finger3Position" type="tns:CRCL_FractionDataType" minOccurs="0" nillable="true" />
          <xs:element name="finger1Force" type="xs:double" minOccurs="0" />
          <xs:element name="finger2Force" type="xs:double" minOccurs="0" />
          <xs:element name="finger3Force" type="xs:double" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CRCL_ThreeFingerGripperStatusDataType" type="tns:CRCL_ThreeFingerGripperStatusDataType" />

  <xs:complexType name="ListOfCRCL_ThreeFingerGripperStatusDataType">
    <xs:sequence>
      <xs:element name="CRCL_ThreeFingerGripperStatusDataType" type="tns:CRCL_ThreeFingerGripperStatusDataType" minOccurs="0" maxOccurs="unbounded" nillable="true" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListOfCRCL_ThreeFingerGripperStatusDataType" type="tns:ListOfCRCL_ThreeFingerGripperStatusDataType" nillable="true"></xs:element>

  <xs:complexType name="CRCL_VacuumGripperStatusDataType">
    <xs:annotation>
      <xs:documentation>GripperStatus DataType</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CRCL_GripperStatusDataType">
        <xs:sequence>
          <xs:element name="isPowered" type="xs:boolean" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CRCL_VacuumGripperStatusDataType" type="tns:CRCL_VacuumGripperStatusDataType" />

  <xs:complexType name="ListOfCRCL_VacuumGripperStatusDataType">
    <xs:sequence>
      <xs:element name="CRCL_VacuumGripperStatusDataType" type="tns:CRCL_VacuumGripperStatusDataType" minOccurs="0" maxOccurs="unbounded" nillable="true" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListOfCRCL_VacuumGripperStatusDataType" type="tns:ListOfCRCL_VacuumGripperStatusDataType" nillable="true"></xs:element>

  <xs:complexType name="CRCL_SettingsStatusDataType">
    <xs:annotation>
      <xs:documentation>GripperStatus DataType</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CRCL_DataThingDataType">
        <xs:sequence>
          <xs:element name="angleUnitName" type="tns:CRCL_AngleUnitEnumDataType" minOccurs="0" />
          <xs:element name="endEffectorParameterSetting" type="tns:ListOfCRCL_ParameterSettingDataType" minOccurs="0" nillable="true" />
          <xs:element name="endEffectorSetting" type="tns:CRCL_FractionDataType" minOccurs="0" nillable="true" />
          <xs:element name="forceUnitName" type="tns:CRCL_ForceUnitEnumDataType" minOccurs="0" />
          <xs:element name="jointLimits" type="tns:ListOfCRCL_JointLimitDataType" minOccurs="0" nillable="true" />
          <xs:element name="intermediatePoseTolernace" type="tns:CRCL_PoseToleranceDataType" minOccurs="0" nillable="true" />
          <xs:element name="lengthUnitName" type="tns:CRCL_LengthUnitEnumDataType" minOccurs="0" />
          <xs:element name="maxCartesianLimit" type="tns:CRCL_PointDataType" minOccurs="0" nillable="true" />
          <xs:element name="minCartesianLimit" type="tns:CRCL_PointDataType" minOccurs="0" nillable="true" />
          <xs:element name="motionCoorinated" type="xs:boolean" minOccurs="0" />
          <xs:element name="poseTolerance" type="tns:CRCL_PoseToleranceDataType" minOccurs="0" nillable="true" />
          <xs:element name="robotParameterSetting" type="tns:ListOfCRCL_ParameterSettingDataType" minOccurs="0" nillable="true" />
          <xs:element name="rotAccelAbsolute" type="tns:CRCL_RotAccelAbsoluteDataType" minOccurs="0" nillable="true" />
          <xs:element name="rotAccelRelative" type="tns:CRCL_RotAccelRelativeDataType" minOccurs="0" nillable="true" />
          <xs:element name="rotSpeedAbsolute" type="tns:CRCL_RotSpeedAbsoluteDataType" minOccurs="0" nillable="true" />
          <xs:element name="rotSpeedRelative" type="tns:CRCL_RotSpeedRelativeDataType" minOccurs="0" nillable="true" />
          <xs:element name="torqueUnitName" type="tns:CRCL_TorqueUnitEnumDataType" minOccurs="0" />
          <xs:element name="transAccelAbsolute" type="tns:CRCL_TransAccelAbsoluteDataType" minOccurs="0" nillable="true" />
          <xs:element name="transAccelRelative" type="tns:CRCL_TransAccelRelativeDataType" minOccurs="0" nillable="true" />
          <xs:element name="transSpeedAbsolute" type="tns:CRCL_TransSpeedAbsoluteDataType" minOccurs="0" nillable="true" />
          <xs:element name="transSpeedRelative" type="tns:CRCL_TransSpeedRelativeDataType" minOccurs="0" nillable="true" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CRCL_SettingsStatusDataType" type="tns:CRCL_SettingsStatusDataType" />

  <xs:complexType name="ListOfCRCL_SettingsStatusDataType">
    <xs:sequence>
      <xs:element name="CRCL_SettingsStatusDataType" type="tns:CRCL_SettingsStatusDataType" minOccurs="0" maxOccurs="unbounded" nillable="true" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListOfCRCL_SettingsStatusDataType" type="tns:ListOfCRCL_SettingsStatusDataType" nillable="true"></xs:element>

  <xs:complexType name="CRCL_PoseStatusDataType">
    <xs:annotation>
      <xs:documentation>Pose Status DataType</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CRCL_DataThingDataType">
        <xs:sequence>
          <xs:element name="pose" type="tns:CRCL_PoseDataType" minOccurs="0" nillable="true" />
          <xs:element name="twist" type="tns:CRCL_TwistDataType" minOccurs="0" nillable="true" />
          <xs:element name="wrench" type="tns:CRCL_WrenchDataType" minOccurs="0" nillable="true" />
          <xs:element name="configuration" type="xs:string" minOccurs="0" nillable="true" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CRCL_PoseStatusDataType" type="tns:CRCL_PoseStatusDataType" />

  <xs:complexType name="ListOfCRCL_PoseStatusDataType">
    <xs:sequence>
      <xs:element name="CRCL_PoseStatusDataType" type="tns:CRCL_PoseStatusDataType" minOccurs="0" maxOccurs="unbounded" nillable="true" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListOfCRCL_PoseStatusDataType" type="tns:ListOfCRCL_PoseStatusDataType" nillable="true"></xs:element>

  <xs:complexType name="CRCL_JointLimitDataType">
    <xs:annotation>
      <xs:documentation>Pose Status DataType</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CRCL_DataThingDataType">
        <xs:sequence>
          <xs:element name="jointNumber" type="xs:unsignedInt" minOccurs="0" />
          <xs:element name="jointMinPosition" type="xs:double" minOccurs="0" />
          <xs:element name="jointMaxPosition" type="xs:double" minOccurs="0" />
          <xs:element name="jointMaxTorqueOrForce" type="xs:double" minOccurs="0" />
          <xs:element name="jointMaxVelocity" type="xs:double" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CRCL_JointLimitDataType" type="tns:CRCL_JointLimitDataType" />

  <xs:complexType name="ListOfCRCL_JointLimitDataType">
    <xs:sequence>
      <xs:element name="CRCL_JointLimitDataType" type="tns:CRCL_JointLimitDataType" minOccurs="0" maxOccurs="unbounded" nillable="true" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListOfCRCL_JointLimitDataType" type="tns:ListOfCRCL_JointLimitDataType" nillable="true"></xs:element>

  <xs:complexType name="CRCL_JointStatusDataType">
    <xs:annotation>
      <xs:documentation>Pose Status DataType</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CRCL_DataThingDataType">
        <xs:sequence>
          <xs:element name="jointNumber" type="xs:unsignedInt" minOccurs="0" />
          <xs:element name="jointPosition" type="xs:double" minOccurs="0" />
          <xs:element name="jointTorqueOrForce" type="xs:double" minOccurs="0" />
          <xs:element name="jointVelocity" type="xs:double" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CRCL_JointStatusDataType" type="tns:CRCL_JointStatusDataType" />

  <xs:complexType name="ListOfCRCL_JointStatusDataType">
    <xs:sequence>
      <xs:element name="CRCL_JointStatusDataType" type="tns:CRCL_JointStatusDataType" minOccurs="0" maxOccurs="unbounded" nillable="true" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListOfCRCL_JointStatusDataType" type="tns:ListOfCRCL_JointStatusDataType" nillable="true"></xs:element>

  <xs:complexType name="CRCL_JointStatusesDataType">
    <xs:annotation>
      <xs:documentation>Pose Status DataType</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CRCL_DataThingDataType">
        <xs:sequence>
          <xs:element name="jointStatus" type="tns:ListOfCRCL_JointStatusDataType" minOccurs="0" nillable="true" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CRCL_JointStatusesDataType" type="tns:CRCL_JointStatusesDataType" />

  <xs:complexType name="ListOfCRCL_JointStatusesDataType">
    <xs:sequence>
      <xs:element name="CRCL_JointStatusesDataType" type="tns:CRCL_JointStatusesDataType" minOccurs="0" maxOccurs="unbounded" nillable="true" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListOfCRCL_JointStatusesDataType" type="tns:ListOfCRCL_JointStatusesDataType" nillable="true"></xs:element>

  <xs:complexType name="CRCLStatusDataType">
    <xs:annotation>
      <xs:documentation>Pose Status DataType</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CRCL_DataThingDataType">
        <xs:sequence>
          <xs:element name="commandStatus" type="tns:CRCL_CommandStatusDataType" minOccurs="0" nillable="true" />
          <xs:element name="jointStatus" type="tns:CRCL_JointStatusesDataType" minOccurs="0" nillable="true" />
          <xs:element name="poseStatus" type="tns:CRCL_PoseStatusDataType" minOccurs="0" nillable="true" />
          <xs:element name="gripperStatus" type="tns:CRCL_GripperStatusDataType" minOccurs="0" nillable="true" />
          <xs:element name="settingsStatus" type="tns:CRCL_SettingsStatusDataType" minOccurs="0" nillable="true" />
          <xs:element name="sensorStatuses" type="tns:CRCL_SensorStatusesDataType" minOccurs="0" nillable="true" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CRCLStatusDataType" type="tns:CRCLStatusDataType" />

  <xs:complexType name="ListOfCRCLStatusDataType">
    <xs:sequence>
      <xs:element name="CRCLStatusDataType" type="tns:CRCLStatusDataType" minOccurs="0" maxOccurs="unbounded" nillable="true" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListOfCRCLStatusDataType" type="tns:ListOfCRCLStatusDataType" nillable="true"></xs:element>

  <xs:complexType name="CRCLCommandsUnionDataType">
    <xs:annotation>
      <xs:documentation>CRCLCommandsUnionDataType</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="ua:Union">
        <xs:sequence>
          <xs:element name="SwitchField" type="xs:unsignedInt" minOccurs="0" />
          <xs:element name="InitCanonCommand" type="tns:InitCanonDataType" minOccurs="0" nillable="true" />
          <xs:element name="MoveToCommand" type="tns:MoveToDataType" minOccurs="0" nillable="true" />
          <xs:element name="CloseToolChangerCommand" type="tns:CloseToolChangerDataType" minOccurs="0" nillable="true" />
          <xs:element name="DwellCommand" type="tns:DwellDataType" minOccurs="0" nillable="true" />
          <xs:element name="GetStatusCommand" type="tns:GetStatusDataType" minOccurs="0" nillable="true" />
          <xs:element name="MessageCommand" type="tns:MessageDataType" minOccurs="0" nillable="true" />
          <xs:element name="EndCanonCommand" type="tns:EndCanonDataType" minOccurs="0" nillable="true" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CRCLCommandsUnionDataType" type="tns:CRCLCommandsUnionDataType" />

  <xs:complexType name="ListOfCRCLCommandsUnionDataType">
    <xs:sequence>
      <xs:element name="CRCLCommandsUnionDataType" type="tns:CRCLCommandsUnionDataType" minOccurs="0" maxOccurs="unbounded" nillable="true" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListOfCRCLCommandsUnionDataType" type="tns:ListOfCRCLCommandsUnionDataType" nillable="true"></xs:element>

  <xs:simpleType  name="CRCL_StopConditionEnumDataType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="IMMEDIATE_0" />
      <xs:enumeration value="FAST_1" />
      <xs:enumeration value="NORMAL_2" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="CRCL_StopConditionEnumDataType" type="tns:CRCL_StopConditionEnumDataType" />

  <xs:complexType name="ListOfCRCL_StopConditionEnumDataType">
    <xs:sequence>
      <xs:element name="CRCL_StopConditionEnumDataType" type="tns:CRCL_StopConditionEnumDataType" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListOfCRCL_StopConditionEnumDataType" type="tns:ListOfCRCL_StopConditionEnumDataType" nillable="true"></xs:element>

  <xs:complexType name="CRCL_ConfigureJointReportDataType">
    <xs:annotation>
      <xs:documentation>CRCL ConfigureJointReportDataType</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CRCL_DataThingDataType">
        <xs:sequence>
          <xs:element name="JointNumber" type="xs:int" minOccurs="0" />
          <xs:element name="ReportPosition" type="xs:boolean" minOccurs="0" />
          <xs:element name="ReportTorqueOrForce" type="xs:boolean" minOccurs="0" />
          <xs:element name="ReportVelocity" type="xs:boolean" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CRCL_ConfigureJointReportDataType" type="tns:CRCL_ConfigureJointReportDataType" />

  <xs:complexType name="ListOfCRCL_ConfigureJointReportDataType">
    <xs:sequence>
      <xs:element name="CRCL_ConfigureJointReportDataType" type="tns:CRCL_ConfigureJointReportDataType" minOccurs="0" maxOccurs="unbounded" nillable="true" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListOfCRCL_ConfigureJointReportDataType" type="tns:ListOfCRCL_ConfigureJointReportDataType" nillable="true"></xs:element>

</xs:schema>